@font-face {
	font-family: 'OCRAEXT';
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/OCRAEXT.ttf') format('truetype');
}

@font-face {
	font-family: 'Handjet';
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/Handjet.ttf') format('truetype');
}

@font-face {
	font-family: 'Fjalla';
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/fjalla.ttf') format('truetype');
}

:root {
	--font-body: Handjet;
	--font-mono: 'Fira Mono', monospaceo;
	--color-bg-0: rgb(10, 10, 90);
	--color-bg-1: rgb(10, 30, 90);
	--color-bg-2: rgb(10, 10, 90);
	--color-theme-1: #313;
	--color-theme-2: #880906;
	--color-text: rgba(00, 00, 10, 1);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	color: var(--color-text);
	font-family: var(--font-body);
	font-variation-settings: "wght" 800, "ELSH" 2, "ELGR" 3;
	letter-spacing: 1px;
}

body {
	overflow-x: hidden;
}

h1,
h2 {
	font-family: fjalla;
	color: rgb(20, 20, 53);
	text-align: left;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}